@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-pri: #0C2D66;
  --color-sec: #47979F;
  --color-ter: #F0F0F0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', Helvetica, sans-serif;

  #top {
    & .title {
      font-weight: 600;
      white-space: nowrap;
      color: var(--color-pri);
    }

    & .graduation {
      @apply font-bold;

      font-size: 2rem;
      line-height: 2rem;
    }

    & .university {
      @apply italic;
      @apply font-[Montserrat];

      font-size: 2rem;
      font-weight: 300;
      line-height: 2rem;
    }

    & #image-container {
      width: calc(550px * 0.7);
      height: calc(872px * 0.7);
      position: relative;
      display: block;
      overflow: visible;

      & .panel {
        width: calc(488px * 0.7);
        border-radius: 1rem;
        display: block;
        position: absolute;
      }

      & #panel-1 {
        height: calc(810px * 0.7);
        background: var(--color-pri);
        z-index: 2;
        bottom: calc(62px * 0.7);
      }

      & #panel-2 {
        height: calc(622px * 0.7);
        background: var(--color-sec);
        z-index: 1;
        left: calc(62px * 0.7);
        bottom: 0;
      }

      & #image {
        z-index: 3;
        left: calc(28px * 0.7);
        bottom: calc(62px * 0.7);
        position: absolute;
        filter: drop-shadow(1rem 1rem 1rem rgba(0, 0, 0, .5));
      }
    }
  }

  #contact {
    background-color: var(--color-sec);

    .container {
      background-color: var(--color-ter);
      box-shadow: 0px 1rem 1rem rgba(0, 0, 0, 0.1);
      color: var(--color-pri);

      & .content {
        text-align: center;

        & h1 {
          font-weight: 700;
          text-align: center;
        }

        & p {
          font-size: 1rem;
          font-weight: bold;
        }
      }
    }
  }
}