@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-pri: #0C2D66;
  --color-sec: #47979F;
  --color-ter: #F0F0F0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', Helvetica, sans-serif;

  #download-portfolio-button {
    color: var(--color-pri);
    font-size: 1.25rem;
    border: 2px solid var(--color-pri);
    border-radius: 100px;
    padding: 0.75rem 3rem;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: #0C2D66;
      color: var(--color-ter);

      & img {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
      }
    }
  }

  #top {
    & .title {
      font-weight: 600;
      white-space: nowrap;
      color: var(--color-pri);
    }

    & .graduation {
      @apply font-bold;
    }

    & .university {
      @apply italic;
      @apply font-[Montserrat];

      font-weight: 300;
    }

    & #image-container {
      position: relative;
      display: block;
      overflow: visible;

      & .panel {
        border-radius: 1rem;
        display: block;
        position: absolute;
      }

      & #panel-1 {
        background: var(--color-pri);
        z-index: 2;
      }

      & #panel-2 {
        background: var(--color-sec);
        z-index: 1;
        bottom: 0;
      }

      & #image {
        z-index: 3;
        position: absolute;
        filter: drop-shadow(.5rem .5rem .5rem rgba(0, 0, 0, .5));
      }
    }
  }

  #contact {
    background-color: var(--color-sec);

    .container {
      background-color: var(--color-ter);
      box-shadow: 0px 1rem 1rem rgba(0, 0, 0, 0.1);
      color: var(--color-pri);

      & .content {
        text-align: center;

        & h1 {
          font-weight: 700;
          text-align: center;
        }

        & p {
          font-size: 1rem;
          font-weight: bold;
        }
      }
    }
  }
}